{% extends "base.html" %}
{% block content %}
<h2 class="summary-title">Sorting Ceremony Results</h2>
<div class="summary-columns">
    {% for house, people in house_data.items() %}
    <div class="house-col {{ house|lower }}">
        <div class="col-header">
            <h3>{{ house }}</h3>
        </div>
        <div class="people-list">
            {% for person in people %}
            <div class="person-item">
                <span class="p-name">{{ person.name }}</span>
                <span class="p-acc">{{ person.accuracy }}%</span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}